@import './assets/scss/app.scss';


//custome css start
.register__wrapper,.pfa__wrapper
{

    H5{
        // border-bottom: 1px solid #e1e7e9;
        // margin: 0 0 24px 0;
        padding: 0 0 12px 0;
      }

}

//PFA Modal CSS

//Login form CSS
.theme-form img{
  margin: 0 auto 30px auto;
}
.login-card .login-main {
  border-radius: 10px !important;
}


//Page header css
.dashboard__logo{
  width: 80%;
}

//patient__Register
.patient__Register{
  padding: 0 0 10px 11px;
  font-size: 25px;
}


form .form-control, .form-select{
  border-color: #24695c !important;
}

.modal .common__info__header{
background-color: #24695c0d !important;
}

//Fetching data from server msg for all forms css animation
.loading-text {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  animation: pulse 1.5s infinite;
  color: var(--theme-default);
  margin: 15px;
}

@keyframes pulse {
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}

 
  //custome css end

  .family__history{
    padding: 0 !important;
  }

  .register__wrapper .react-datepicker-wrapper{
    width: 100% !important;
  }
  span.ntDischarge, span.Discharge {
    border: 1px solid red;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
}
span.Discharge {
  color: green !important;
  border: 1px solid green !important;
}

//data table header css
.dIWBoj{
  vertical-align: middle;
    border-top: none;
    background-color: rgba(36, 105, 92, 0.05);
    border: 1px solid var(--theme-default);
    padding: 15px;
    font-size: 16px;
    color: var(--theme-default);
    font-weight: 600;
    justify-self: center;
}
//data table td css
.jzOJPm{
  border-width: 0 var(--bs-border-width);
  border-color: #e6edef !important;
  padding: 0.75rem;
  border-style: solid;
  justify-content: center;
}
.bfgYDb{
  justify-content: center !important;
}